@page "/apaymentinfo"
<PageTitle>Payment</PageTitle>
@using Aiia.FrontEnd.Data
@using Aiia.Contracts.Entities
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Aiia.Contracts
@using Aiia.Contracts.Entities.autho
@inject OperationService OperationService
@inject NavigationManager NavManager
<h2></h2>
 @if (authStatus == null)
    {
        <h5>Loading...</h5>
    }
 else
 {
     <table class="table">
         
                 
                     <thead>
                         <tr>
                             <th>Ammount</th>
                             <th>Status</th>
                             <th>Destination</th>
                             <th>Message</th>
                             <th>Currency</th>
                             <th>Date</th>
                  
                         </tr>
                     </thead>
                     <tbody>
                          <tr>
                              <td>@authStatus.totalAmount.value</td>
                              <td>@authStatus.status.code</td>
                              <td>@authStatus.providerId</td>
                              <td>@authStatus.status.details?.errorType</td>
                              <td>@authStatus.totalAmount.currency</td>
                              <td>@authStatus.status.lastUpdated.ToString("dd-MM-yyyy")</td>
                          </tr>
                      </tbody>
                 
     </table>
     <hr/>
 }
@code
{
    private PaymentsAuthStatus authStatus;
    protected override async Task OnInitializedAsync()
    {

        await OperationService.GetAcceptPaymentStatus();
        authStatus = new PaymentsAuthStatus();

    }
}
